        <!-- Footer -->
        <footer class="footer">
          <div class="container">
            <div class="row gap-y align-items-center">

              <div class="col-xl-8">
                <div class="nav justify-content-center justify-content-xl-start">
                  <a class="nav-link" href="https://gladysassistant.com">Website</a>
                  <a class="nav-link"
                    href="https://github.com/gladysassistant/Gladys/blob/master/CHANGELOG.md">Changelog</a>
                  <a class="nav-link" href="https://twitter.com/gladysassistant">Twitter</a>
                  <a class="nav-link" href="https://facebook.com/gladysassistant">Facebook</a>
                  <a class="nav-link" href="https://instagram.com/gladysassistant">Instagram</a>
                  <a class="nav-link" href="https://github.com/gladysassistant">Github</a>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="text-center text-xl-right">
                  Copyright © Gladys Assistant {{ 'now' | date: "%Y" }}. All Rights Reserved
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- /.footer -->
