        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-dark navbar-stick-dark" data-navbar="sticky">
            <div class="container">

                <div class="navbar-left">
                    <button class="navbar-toggler" type="button">&#9776;</button>
                    <a class="navbar-brand" href="/">
                        <image class="logo-dark" width="100" src="/assets/image/logo-horizontal-light.png" alt="logo">
                    </a>
                </div>

                <section class="navbar-mobile">
                    <span class="navbar-divider d-mobile-none"></span>

                    <ul class="nav nav-navbar">

                        {% assign docs = site.docs | where: 'lang', page.lang %}
                        {% assign categorys = "" | split: "" %}
                        {% assign sub-categorys = "" | split: "" %}
                        
                        {% for file in docs %}
                            {% if file.name != 'intro' and file.category != '' and file.category != nil %}

                                {% unless categorys contains file.category %}
                                    <!-- Do not create child if category exist :) -->
                                    {% assign childs = site.docs | where: 'category', file.category | where: 'lang', page.lang %}

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">{{ file.category }} <span class="arrow"></span></a>
                                        <ul class="nav">
                                            {% for child in childs %}
                                                {% if child.sub-category != '' and child.sub-category != nil%}

                                                    {% unless sub-categorys contains child.sub-category %}
                                                        <!-- Do not create child if category exist :) -->
                                                        {% assign sub-childs = site.docs | where: 'sub-category', child.sub-category | where: 'lang', page.lang %}

                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#">{{ child.sub-category }} <span class="arrow"></span></a>                  
                                                            <nav class="nav">
                                                                {% for sub-child in sub-childs %}
                                                                    {% assign cat = child.category %}{% if cat == 'Developpement'%}{% assign cat = 'development' %}{% endif%}   
                                                                    <a class="nav-link" href="/{{ page.lang }}/{{ cat | downcase }}#{{ sub-child.name }}">{{ sub-child.title }} </a>
                                                                {% endfor %}
                                                            </nav>
                                                        </li>
                                                        
                                                        {% assign sub-categorys = sub-categorys | push: child.sub-category %}
                                                    {% endunless %}
                                            
                                                {% else %}                
                                                    <li class="nav-item">
                                                        {% assign cat = child.category %}{% if cat == 'Developpement'%}{% assign cat = 'development' %}{% endif%}
                                                        <a class="nav-link" href="/{{ page.lang }}/{{ cat | downcase }}#{{ child.name }}">{{ child.title }}</a>
                                                    </li>
                                                {% endif%}
                                            {% endfor %}
                                        </ul>
                                    </li>
                            
                                    {% assign categorys = categorys | push: file.category %}
                                {% endunless %}

                            {% endif %}
                        {% endfor %}

                    </ul>
                </section>
            </div>
        </nav>
        <!-- /.navbar -->