---
layout: default
---

    <body data-spy="scroll" data-target=".nav-sidebar" data-offset="100">

        {% include nav-bar.html %}

        <!-- Header -->
		<header class="header pt-9 pb-5" style="background-image: linear-gradient(135deg, #0052d417 0%, #fff 50%, #0052d417 100%);">
            <div class="container">
                <h3>{{ page.title }}</h3>
            </div>
        </header>
        <!-- /.header -->

        <!-- Main -->
        <main class="main-content">
            <div class="container">
                <div class="row">
    
                    <!-- Sidebar !-->
                    <div class="col-md-4 col-xl-3">
                        <aside class="sidebar sidebar-expand-md sidebar-sticky pr-md-4 br-1 stick">
                            <div class="sidebar-body ps">
                                <ul class="nav nav-sidebar nav-sidebar-hero nav-sidebar-pill">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#{{ page.name }}">{{ page.title }}</a>
                                    </li>
                                    
                                    {% assign docs = site.docs | where: 'permalink', page.permalink | where: 'lang', page.lang %}
                                    {% assign sub-categorys = "" | split: "" %}
                                    
                                    {% for file in docs %}
                                        {% if file.name != 'intro' and file.sub-category != '' and file.sub-category != nil %}

                                            {% unless sub-categorys contains file.sub-category %}
                                                <!-- Do not create child if category exist :) -->
                                                {% assign childs = site.docs | where: 'sub-category', file.sub-category | where: 'lang', page.lang %}
                                        
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">{{ file.sub-category }} <i class="fas fa-angle-right"></i></a>
                                                    <div class="nav">
                                                        <ul class="nav nav-sidebar nav-sidebar-hero ">
                                                            {% for child in childs %}
                                                                <li class="nav-item">
                                                                    <a class="nav-link small-1" href="#{{ child.name }}">{{ child.title }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </li>

                                                {% assign sub-categorys = sub-categorys | push: file.sub-category %}
                                            {% endunless %}

                                        {% elsif file.name != 'intro' %}

                                        <li class="nav-item">
                                            <a class="nav-link" href="#{{ file.name }}">{{ file.title }}</a>
                                        </li>
                                        
                                        {% endif %}
                                    {% endfor %}
                
                                </ul>
                            </div>
                        </aside>
                    </div>
        
            
                    <!-- Content -->
                    <div class="col-md-7 col-xl-8 ml-md-auto py-8">
                        
                        <h2 id="{{ page.name }}">{{ page.title }}<a class="anchor" href="#{{ page.name }}"></a></h2>
                        {{ content }}
            
                        <hr class="hr-dash my-7">

                        {% assign sub-categorys = "" | split: "" %}

                        {% for file in docs %}
                            {% if file.name != 'intro' and file.sub-category != '' and file.sub-category != nil %}

                                {% unless sub-categorys contains file.sub-category %}
                                <!-- Do not create category if exist :) -->
                                    {% assign childs = site.docs | where: 'sub-category', file.sub-category | where: 'lang', page.lang %}

                                        <h2 id="{{ file.name }}-intro">{{ file.sub-category }}<a class="anchor" href="#{{ file.name }}-intro"></a></h2>
                                        {{ file.content }}
                                        <hr class="hr-dash my-7">

                                        {% for child in childs %}
                                        
                                            <h3 id="{{ child.name }}">{{ child.title }}</h3>
                                            {{ child.content }}
                                            <hr class="hr-dash my-7">

                                        {% endfor %}

                                    {% assign sub-categorys = sub-categorys | push: file.sub-category %}
                                {% endunless %}

                            {% elsif file.name != 'intro' %}

                            <h2 id="{{ file.name }}">{{ file.title }}<a class="anchor" href="#{{ file.name }}"></a></h2>

                            {{ file.content }}

                            <hr class="hr-dash my-7">
                            
                            {% endif %}
                        {% endfor %}
            
                    </div>
                </div>
            </div>
        </main>
    </body>
  