---
layout: default
---
    <body data-spy="scroll" data-target=".nav-sidebar" data-offset="100">

        {% include nav-bar.html %}

        <!-- Header -->
        <header class="header" style="background-image: linear-gradient(135deg, #0052d417 0%, #fff 50%, #0052d417 100%);">
            <div class="container-sm">
                <h1>{{ site.data.translations[ page.lang ].faq.title }}</h1>
                <p class="lead">{{ site.data.translations[ page.lang ].faq.header-text }} <a href="https://community.gladysassistant.com/">{{ site.data.translations[ page.lang ].faq.forum }}</a></p>
            </div>
        </header>
        <!-- /.header -->
        
        <!-- Main Content -->
        <main class="main-content">
            <section class="section">
                <div class="container-sm">
        
                    <ol class="toc bg-light b-1 px-5 py-3" data-caption="{{ site.data.translations[ page.lang ].faq.title-list }}">
                        {% assign questions = site.docs | where: 'permalink', page.permalink | where: 'lang', page.lang %}
                        
                        {% for question in questions %}
                            {% if question.name != 'intro' %}
                                <li><a href="{{ question.permalink }}#{{ question.name }}">{{ question.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
        
                    {% for question in questions %}
                        {% if question.name != 'intro' %}
                            <h5 id="{{ question.permalink }}#{{ question.name }}">{{ question.title }}</h5>

                            {{ question.content }}
                            
                            <hr class="hr-dash">
                        {% endif %}
                    {% endfor %}
        
                </div>
            </section>
        </main><!-- /.main-content -->
    </body>